@model ProyectoHDP.Models.Empleados

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaRenuncia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaRenuncia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaEmision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mesesTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mesesTrabajo)
        </dd>
    </dl>
    <div>
        <form method="post" asp-action="DownloadTextFile" asp-route-id="@Model?.iD">
            <button type="submit">Descargar archivo.txt</button>
        </form>
        <form method="post" asp-action="GeneratePDF" asp-route-id="@Model?.iD">
            <button type="submit">Descargar PDF</button>
        </form>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.iD">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
