@model ProyectoHDP.Models.Empleados

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaRenuncia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaRenuncia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaEmision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaEmision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mesesTrabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mesesTrabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DUI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DUI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nISSS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nISSS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccionEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccionEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefonoEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefonoEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correoEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correoEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.iD">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
