@model IEnumerable<ProyectoHDP.Models.Empleados>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaRenuncia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mesesTrabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DUI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nISSS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccionEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correoEmpresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaRenuncia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mesesTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nISSS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccionEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonoEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correoEmpresa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.iD">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.iD">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.iD">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
